.ordem-compra {
    margin-top: 50px;
    margin-bottom: 50px;
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    border: 1px solid red;
}

input.ng-touched.ng-valid, select.ng-touched.ng-valid {
    border: 1px solid green;
}